.navBar {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .navBar_box {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(230, 178, 10);
  }
  .navBar_box1 {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
  }
  .navBar_box2 {
    width: 70%;
  }
  .navBar_p {
    padding: 15px;
    color: gray;
    text-decoration: none;
  }
}
.list {
  padding: 20px;
  display: block;
}

.listM {
  padding: 15px;
  display: inline;
}
.carrito_butt {
  margin: 5px 0 0 120px;
  padding: 5px;
  width: 50%;
  background-color: chocolate;
  text-align: center;
}
.carrito {
  padding: 50px;

  .carrito_but {
    margin: 5px;
    padding: 5px;
    width: 50%;
    background-color: chocolate;
  }
  .carrito_but2 {
    margin: 5px;
    padding: 5px;
    background-color: chocolate;
  }
  .carrito_numb {
    font-size: 30px;
    color: black;
  }
}
