.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  background-color: burlywood;
  align-content: space-around;

  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
