.navBar {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .navBar_box {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(230, 178, 10);
  }
  .navBar_p {
    padding: 15px;
    color: gray;
  }
}
